.med_blog_list_container{
    display: block;
    box-sizing: border-box;
    max-width: 738px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 24px;
    padding-left:24px;
    margin-top: 130px;
}

@media (max-width: 991px){
.med_blog_list_container {
    margin-top: 130px;
}
}

.med_post {
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 24px;
    padding: 23px 0;
}

.med_dummy_div_iniside_post{
    height:100%;
    width:100%
}

.med_writer_flex{
    padding-right: 20px;
    flex-direction: row;
    display: flex;
    flex-grow: 1;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: flex-start;
}

.med_profile_pic{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: block;
    vertical-align: middle;
}

.med_blog_info_div{
    margin-left: 15px;
    justify-content: center;
    flex-direction: column;
    display: flex;
}

.med_blog_info{
    /* font-size: 15.8px; */
    line-height: 20px;
    font-style: normal;
    font-family: medium-content-sans-serif-font, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
    display: block;
}

.med_author_in_pub{
    color: rgba(0, 0, 0, 0.84);
    fill: rgba(0, 0, 0, 0.84);
}

.med_date_read_time{
    color: rgba(0, 0, 0, 0.37);
    fill: rgba(0, 0, 0, 0.37);

}

.med_preview_section{
    word-wrap: break-word;
    word-break: break-word;
}

.med_preview_img{
    width:100%;
    height: 100%;
    max-height: 300px;
    object-fit: cover
}

.med_preview_img_container{
    max-width: 700px;
    margin: auto;
    position: relative
}

.med_img_padding{
    padding-bottom: 3%;
}

.image_tag{
    width: 100%;
    height: 100%;
}

.med_title{
        /* margin-bottom: -0.28em;
        letter-spacing: -0.022em;
        line-height: 1.35; */
        font-size: 24px; 
        padding-left: 35px;
        padding-right: 30px;
        font-weight: 400;
        color: rgba(0, 0, 0, 0.84);
        font-style: normal;
        font-family: medium-content-sans-serif-font, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif
}

.med_subtitle{
    margin-bottom: -0.31em;
    margin-top: 0.50em;
    line-height: 1.18;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: -0.022em;
    padding-left: 35px;
    padding-right: 30px;
    color: rgba(0, 0, 0, 0.54);
    font-style: normal;
    font-family: medium-content-sans-serif-font, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
}

.img_container {
    height: 210px;
    width: 100%;
    position: relative;
}

.padding_div{
    width: 100%;
    height: 100%;
    padding: 3%; 
}

.img_div {
    height: 100%;
    width: 100%;
}